body {

    margin: 0 auto;
    font-family: tahoma;

}

.topo {

    background-color: #afddfb;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

}

.topo img {

    width: 150px;
}

.topo-link p {

    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
    display: inline;
}

.topo-link a {

    font-size: 18px;
    color: #1d1d1d;
    border: solid 2px #afddfb;
    text-decoration: none;
    margin: 0px 10px 0px 10px;

}


.imagem-banner {

    text-align: center;
    margin-top: 50px;
    padding: 0;

}

.conteudo-sobre, .conteudo-serviço, .conteudo-corretor, .conteudo-contato  {

    text-align: center;
}
.conteudo-sobre h1 {

    color: #1d1d1d;
    margin-bottom: 5px;
}

.conteudo-sobre h2 {

    color: #1c81c0;
    margin-top: 2px;
    font-weight: normal;
}

.conteudo-sobre img {

    width: 450px;
}

.conteudo-sobre span {

    color: #1d80c1
}

span {

    font-weight: bold;
}

.conteudo-serviço {

    background-color: #1d80c1;
}

.conteudo-serviço h2 {

    color: #ffffff;
    font-size: 28px;
    margin-top: 42px;
    margin-bottom: 42px;
}

.conteudo-serviço p {

    color: #ffffff;
    font-size: 22px;
    margin-top: 42px;
    width: 700px;
}

.conteudo-serviço span {

    color: #fff81b;
}

.lista {

    margin: 40px auto 40px auto;
    width: 135px;
    color: #ffffff;
    margin-top: 42px;
    margin-bottom: 42px;
    text-align: left;
    font-size: 22px;
}

