body {
    margin: 0 auto;
    font-family: tahoma;
}

.topo {
    background-color: cadetblue;
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    
}