body {
    
    margin: 0 auto;
    font-family: tahoma;
}

.topo {

    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

}

.menu p {

    display: inline;
    padding: 0 4px;
    text-decoration: none;
}

.imagem-banner, .conteudo-sobre {

    text-align: center;
}